*{
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
}
#header{
    display: flex;
    position: sticky;
    top: 0px;
    background-color: white;
}
#header>b{
    text-align: center;
    padding: 10px 0;
    min-width: 100px;
    border: 1px solid #dfe4e9;
    background-color: white;
}
.row{
    display: flex;
}
.row>b,.row>div{
    padding: 10px 0;
    min-width: 100px;
    border: 1px solid #dfe4e9;
    background-color: white;
}
.row>b:first-child{
    text-align: center;
    position: sticky;
    left: 0px;
    background-color: white;
}
.options{
    padding: 10px;
    /* background-color: #ecf0f1 ; */
    border: 5px solid black;
    display: flex;
    flex-direction: row;
}
.cap,.cap1{
    width: 2760px;
    height: 25px;
    background-color: #218c74;
    padding-left: 20px;
}
.cap1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
